body{
    background: #455A64;
}

.avatar{
    border-radius: 50%;
}

.header{
    background-color: #ecf0f1;
}

.title{
    font-family: 'Nunito', sans-serif;    
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #455A64;
}

.description{
    color: black;
    padding-left: 10px;
}

td{
    padding: 10px;
}



.main{
    color: #FFFFFF;
    text-align: center;
}